@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(255, 239, 223);
}

#home-content {
    max-width: 960px;
    margin: 0 auto;
}

#home-content h1 {
    color: rgb(65, 65, 65);
    padding-left: 25%;
    letter-spacing: 1px;
    

}

header {
    background-color: #76cdff;
    padding: 20px;
    border-radius: 15px;
    
}

header img {
    float: right;
    box-shadow: 0px 0px 9px rgb(14, 13, 13);
    margin-bottom: 10px;
    border-radius: 5px;
    width:300px;
    height:250px;
}

main h2 {
    border-bottom: 1px solid rgb(3, 3, 3);
    margin-right: 50px;
}

footer {
    margin-top: 20px;
    text-align: center;
    clear: both;
    border-radius: 15px;
    background-color: #76cdff;
    padding: 25px;
    color: rgb(20, 20, 20);
}

main ul li {
    line-height: 1.5rem;
}

footer a {
    color: rgb(20, 20, 20);
}

#updated {
    color: rgb(65, 65, 65);
    font-size: .9em;
}

