/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    font-family: 'Itim', cursive;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.event {
    text-align: center;
    width: 100%;
    background-color: teal;
    padding: 20px;
    font-size: large;
}

header {
    text-align: center;
    background-color: rgb(175, 255, 255);
}

header img {
    display: none;
}

header h1, h2 {
    color: #c001ff;
    padding: 0.8rem 0rem;
    margin: 0%;
}

h3 {
    color: #c001ff;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #c001ff;
}

nav {
    text-align: center;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #c001ff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.205);
}

.active {
    background-color: rgba(0, 0, 0, 0.205);
}

nav ul.hide {
    display: none;
}

body {
    background-color: rgb(175, 255, 255);
}

main {
    text-align: center;
    background-color: rgb(175, 255, 255);
}

.contentbox {
    color: #c001ff;
    width: 100%;
    padding: 1rem 0rem;
    background-color: aqua;
    border: 1px solid #c001ff;
    margin: 0.2rem 0;
}

.bannerbox {
    border: 2px solid #c001ff;
    background-image: url("../images/pexels-tahir-shaw-186980.jpg");
    background-position: 50% 70%;
    display: flex;
    align-items: center;
    height: 33vh;
    color: #c001ff;
}

.weathersummary {
    background-color: rgba(255, 255, 255, 0.301);
    border: #c001ff 2px solid;
    padding: 0.8rem;
    margin-left: 10%;
}

.fdf h3 {
    color: #c001ff;
    padding-bottom: 1%;
    border-bottom: #c001ff 2px solid;
}

.Days {
    background-color: rgb(175, 255, 255);
    border-top: #c001ff 2px solid;
}

.article-content {
    border-top: #c001ff 2px solid;
}

.article-content img {
    max-width: 100%;
}

.contactinfo-img img {
    max-width: 100%;
}

/* storm center css */

label {
    color: #c001ff;
    display: block;
}

input, textarea {
    width: 250px;
}

h1 {
    color: #c001ff;
}

.towns {
    width: 100%;
    display: grid;
}

.towns section {
    border: 2px solid #c001ff;
    margin-top: 5px;
    text-align: center;
    background: aqua;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.towns section {
    width: 100%;
    display: grid;
}

.towns section img {
    max-width: 350px;
    align-self: end;
    justify-self: center;
}

.news {
    margin: 40px 0;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid #c001ff;
}

.news-event {
    width: 100%;
    color: rgb(0, 0, 0);
    background: aqua;
    padding: 10px;
}

.news-event:nth-child(even) {
    border-top: 2px solid #c001ff;
}

footer {
    background-color: aqua;
    padding: 1rem 0.3rem;
    border: 2px solid #c001ff;
    text-align: center;
    margin-top: 2rem;
}

footer p {
    margin: 0 0.7rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}